@using BlazorCounter.Client.Models
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
<h3>CounterComp</h3><br>


<EditForm Model = "@Cont" OnValidSubmit="@(e => OnSalva.InvokeAsync(Cont))">
    <label for = "valore">Valore:</label><br>
    <input type = "text" id = "valore" @bind-value = "Cont.Valore" /><br>
    <SfButton CssClass="e-primary" @onclick = "Up">Up</SfButton>
    <SfButton CssClass="e-primary" @onclick = "Down">Down</SfButton>
    <SfButton type="submit" CssClass="e-primary">Salva</SfButton>
</EditForm>

