@using BlazorCounter.Client.Models
<h3>CounterComp</h3>

<EditForm Model = "@Cont" OnValidSubmit="@(e => OnSalva.InvokeAsync(Cont))">
    <label for = "valore">Valore:</label><br>
    <input type = "text" id = "valore" @bind-value = "Cont.Valore" /><br>
    <button type = "button" class = "btn btn-primary" @onclick = "Up">Up</button>
    <button type = "button" class = "btn btn-primary" @onclick = "Down">Down</button>
    <button type="submit" class="btn btn-primary">Salva</button>
</EditForm>

@code {
}